In [2]:
import pandas as pd
from sklearn import decomposition, preprocessing, cluster, tree

In [3]:
peptide_file = "PD-datasets/train_peptides.csv"
peptides = pd.read_csv(peptide_file)
peptides_df = pd.DataFrame(peptides)
peptides_df.head()

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.0
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.0
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.9
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.7

In [4]:
proteins_file = "PD-datasets/train_proteins.csv"
proteins = pd.read_csv(proteins_file)
proteins_df = pd.DataFrame(proteins)
proteins_df.head()

  visit_id  visit_month  patient_id UniProt       NPX
0     55_0            0          55  O00391   11254.3
1     55_0            0          55  O00533  732430.0
2     55_0            0          55  O00584   39585.8
3     55_0            0          55  O14498   41526.9
4     55_0            0          55  O14773   31238.0

In [5]:
clinical_file = "PD-datasets/train_clinical_data.csv"
clinical = pd.read_csv(clinical_file)
clinical_df = pd.DataFrame(clinical)
clinical_df.head()

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On

In [6]:
# merge all of the datasets together
protpep = pd.merge(left=peptides_df,right=proteins_df,how='outer',on="visit_id")

In [7]:
protpep.head()

,visit_id,visit_month_x,patient_id_x,UniProt_x,Peptide,PeptideAbundance,visit_month_y,patient_id_y,UniProt_y,NPX
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3,0,55,O00391,11254.3
1,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3,0,55,O00533,732430.0
2,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3,0,55,O00584,39585.8
3,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3,0,55,O14498,41526.9
4,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3,0,55,O14773,31238.0

In [8]:
protpep.columns

Index(['visit_id', 'visit_month_x', 'patient_id_x', 'UniProt_x', 'Peptide',
       'PeptideAbundance', 'visit_month_y', 'patient_id_y', 'UniProt_y',
       'NPX'],
      dtype='object')

In [9]:
protpep = protpep[['visit_id', 'visit_month_x', 'patient_id_x', 'UniProt_x', 'Peptide',
       'PeptideAbundance','NPX']]

In [10]:
protpep['Peptide'].nunique()

968

In [11]:
protpep['UniProt_x'].nunique()

227

In [ ]:
merged_df = clinical_df.merge(protpep,how='outer',on="visit_id")

In [15]:
#take a look at the data and identify what needs to be done to prepare for ML
merged_df.head()

,visit_id,patient_id_x,visit_month_x,updrs_1_x,updrs_2_x,updrs_3_x,updrs_4_x,upd23b_clinical_state_on_medication_x,patient_id_y,visit_month_y,updrs_1_y,updrs_2_y,updrs_3_y,updrs_4_y,upd23b_clinical_state_on_medication_y
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On,55,12,10.0,10.0,41.0,0.0,On

In [23]:
merged_df.dtypes

visit_id                                 float64
patient_id_x                               int64
visit_month_x                              int64
updrs_1_x                                float64
updrs_2_x                                float64
updrs_3_x                                float64
updrs_4_x                                float64
upd23b_clinical_state_on_medication_x     object
patient_id_y                               int64
visit_month_y                              int64
updrs_1_y                                float64
updrs_2_y                                float64
updrs_3_y                                float64
updrs_4_y                                float64
upd23b_clinical_state_on_medication_y     object
dtype: object

In [22]:
merged_df["visit_id"] = merged_df["visit_id"].astype("float64")

In [ ]:
pd.get_dummies(merged_df, columns=["",""])

In [17]:
# PCA

X = #cleaned data will go here
std = preprocessing.StandardScaler()
X_std = pd.DataFrame(std.fit_transform(X), columns=X.columns)
X_std

ValueError: could not convert string to float: 'On'

In [ ]:
pca = decomposition.PCA()
pca_X = pd.DataFrame(pca.fit_transform(X_std), columns=[f'PC{i+1}' for i in range(len(X.columns))])
pca_X

In [ ]:
# plot PCs and dendrogram